// Colors 
// Los colores son los que estan definidos en la guia
// pero personalmente quiero acostumbrarme a usar hsl

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$sable: hsl(0, 0%, 2%);
$charcoal: hsl(25, 88%, 10%);
$tangerine: hsl(27, 100%, 71%);
$orange: hsl(39, 100%, 50%);
$gray: hsl(330, 3%, 86%);

// Fonts

$ubuntu: 'Ubuntu', sans-serif;
$ubuntu-regular: 400;
$ubuntu-bold: 700;
$poppins: 'Poppins', sans-serif;
$poppins-regular: 400;
$poppins-bold: 700;

// Font sizes

$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

// breakpoints
// breakpoint xs is default (< 576px)
$breakpoint-sm: 576px; // mobile
$breakpoint-md: 768px; // tablet
$breakpoint-lg: 992px; // laptop
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// grid 
$grid-cols: 12;